* {
    margin: 0 auto;
    box-sizing: border-box;
}

#masthead {
    position: fixed;
    width: 100%;
    margin: 0 0 30px;
    color: white;
    background-color: black;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    word-spacing: 0.08em;
    letter-spacing: 0.08em;
    z-index: 7;
    top: 0px;
}

.container {
    width: 100%;
    height: 80px;
    max-width: 1366px;

}

no {
    float: right;
    margin-top: 25px;
}

#nav_logo {
    position: fixed;
    display: inline;
    left: 40px;
} 

nav {
    position: fixed;
    left: 400px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 30px;
    line-height: 18px;
    color: white;
    text-decoration: none;
}

.favorite-part {
    margin-top: 140px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    line-height: 40px;
    word-spacing: 0.15em;
    letter-spacing: 0.03em;
}

h1 {
    text-align: center;
}

p {
    margin: 50px 100px;
}

.scene-pictures {
    margin: 50px 5%;
}

.scene-pictures img {
    margin: 20px 5%;
}